<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UW_HighlightAndFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UW_HighlightAndFilter.Properties.Settings>
            <setting name="AppSettings" serializeAs="String">
                <value />
            </setting>
        </UW_HighlightAndFilter.Properties.Settings>
    </userSettings>
    <appSettings>
        <add key="ApiUrl" value="https://sandbox.dataforseo.com"/>
        <add key="ApiLogin" value="mastahh@gmail.com"/>
        <add key="ApiPassword" value="56520828160906d4"/>
    </appSettings>
</configuration>